github "VirgilSecurity/virgil-e3kit-x" ~> 2.1.0
github "Ogerets/XMPPFramework" ~> 4.0.1
github "Ogerets/Chatto" ~> 3.2.2
github "Ogerets/PKHUD" ~> 5.3.1
github "VirgilSecurity/virgil-crypto-x" ~> 5.2.0
github "VirgilSecurity/virgil-sdk-x" "develop"
github "sendbird/sendbird-webrtc-ios" ~> 1.1.1
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "Crashlytics.json"
