github "VirgilSecurity/virgil-e3kit-x" "develop-strings"
github "Ogerets/XMPPFramework" "master"
github "Ogerets/Chatto" "messenger-stable"
github "pkluz/PKHUD"
github "Boris-Em/BEMCheckBox" ~> 1.4.1
github "VirgilSecurity/virgil-crypto-x" ~> 5.2.0
github "sendbird/sendbird-webrtc-ios" ~> 1.1.1
github "daltoniam/Starscream" ~> 4.0.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "Crashlytics.json"
